.left-card {
    display: inline-block;
    width: 600px;
    padding: 32px 32px 48px;
    box-sizing: border-box;
    h1 {
        font-size: 30px;
        margin-bottom: 24px;
    }
    h4 {
        margin: 24px 0;
    }
    p {
        margin: 0 0 24px;
    }
    .input-field {
        margin-bottom: 16px;
    }
}