@import '../../index.scss';

.progress-card {
    display: inline-block;
    vertical-align: top;
    width: 270px;
    padding: 32px;
    box-sizing: border-box;
    margin-left: 32px;
    text-align: left;
    &__step {
        font-weight: bold;
        color: $disabled-color;
        &--active {
            color: $secondary-color;
        }
        &:not(last-child) {
            margin-bottom: 10px;
        }
    }
}