body {
  margin: 0;
  font-family: "Avenir", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
}

* {
  font-family: "Avenir", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.heading--text {
  &, span, a {
    font-family: 'CaslonGraphiqueEF', 'Avenir', sans-serif !important;
  }
}

@font-face {
  font-family: 'CaslonGraphiqueEF';
  src: local('CaslonGraphiqueEF'), url('./fonts/CaslonGraphiqueEF.ttf') format('truetype');
}

@font-face {
  font-family: 'Avenir';
  src: local('Avenir'), url('./fonts/Avenir.ttc') format('truetype');
}

$primary-color: #007f73;
$secondary-color: #007f73;
$text-color: #002235;
$disabled-color: #9b9b9b;

.input-field {
  width: 240px;
  text-align: left;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
  margin: 0;
}

button.primary-button {
  text-transform: none;
  background-color: $primary-color;
  border: 1px solid transparent;
  width: 280px;
  span {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  &:hover, &:focus {
    background-color: white;
    span {
      color: $primary-color;
    }
  }
}

button.secondary-button {
  text-transform: none;
  background-color: white;
  border: 1px solid $primary-color;
  width: 280px;
  span {
    text-decoration: none;
    color: $primary-color;;
    font-weight: bold;
  }
  &:hover, &:focus {
    background-color: $primary-color;
    span {
      color: white;
    }
  }
}

a {
  text-decoration: none;
}

a.tertiary-link {
  color: $secondary-color;
  font-weight: bold;
  cursor: pointer;
  &:hover, &:focus {
    text-decoration: underline;
  }
}

.continue-button {
  .primary-button {
    margin-top: 40px;
  }
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-right {
  text-align: right;
}