.moving-page {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    h1 {
        margin: 0 0 8px;
    }
    h2 {
        margin: 0;
    }
    &__summary {
        margin-bottom: 24px;
        a.tertiary-link {
            margin-left: 8px;
        }
    }
    &__cost {
        padding: 32px;
        margin-bottom: 16px;
        &:last-child {
            margin-bottom: 24px;
        }
        .moving-page__total {
            text-align: right;
            .moving-page__links {
                a, span {
                    margin-left: 16px;
                }
            }
        }
    }
    &__currency {
        font-size: 28px;
        margin-left: 16px;
    }
    &__grand-total {
        margin-bottom: 56px;
    }
    &__buttons {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 32px;
        .moving-page__button {
            margin-left: 16px;
        }
    }
    &__note {
        text-align: right;
        margin-bottom: 40px;
    }
}