.login-page {
    &__banks {
        width: 375px;
        margin: 0 auto;
        .login-page__bank {
            background-color: #f5f5f5;
            padding: 10px;
            display: flex;
            align-items: center;
            cursor: pointer;
            img {
                width: 75px;
                height: 75px;
                margin-right: 16px;
            }
            &:hover, &:focus {
                background-color: white;
            }
        }
    }
}

.login-modal {
    width: 500px;
    margin: 100px auto;
    z-index: 9999;
    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 75px;
        img {
            border-radius: 50%;
            width: 50px;
            height: 50px;
            margin-bottom: 24px;
        }
        h4 {
            font-weight: bold;
            margin-bottom: 24px;
        }
        .login-modal__field {
            margin-bottom: 16px;
            &:last-of-type {
                margin-bottom: 32px;
            }
        }
    }
}