@import '../../index.scss';

.layout {
    text-align: center;
}

.app-bar {
    background-color: white;
    color: $text-color;
    margin-bottom: 56px;
    &__links {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        flex-grow: 1;
        display: flex;
        justify-content: center;
        a {
            color: $text-color;
            margin: 0 20px 0 50px;
            cursor: pointer;
            position: relative;
            text-decoration: none;
            &:hover, &:focus {
                text-decoration: underline $primary-color solid;
            }
            span.underlined {
                text-decoration: underline $primary-color solid;
            }
        }
    }
    &__logo {
        cursor: pointer;
        font-size: 30px;
        &, &:hover, &:focus {
            color: $text-color !important;
            text-decoration: none !important;
        }
    }
    &__name {
        display: inline-block;
        color: $secondary-color;
        margin-right: 20px;
    }
}